pyyaml>=5.1
tensorboard
tensorboardX
matplotlib
onnx
onnxruntime
flake8==3.8.2
flake8-bugbear
flake8-comprehensions
flake8-executable
flake8-pyi==20.5.0
mccabe
pycodestyle==2.6.0
pyflakes==2.2.0
lmdb
scipy
tqdm
langid
pypinyin
pre-commit==3.5.0
git+https://github.com/wenet-e2e/wenet.git@1a94771df418325fd335b0b53776f83d74a8111d
